.footer-container {
    width: 100%;
    margin-top: 27px;
    padding-left: 80px;
    display: flex;
    justify-content: flex-start;
}

.footer-container__messengers{
    cursor: pointer;
    margin-left: 80px;
}

.footer-container__text {
    margin: 0 auto;
    color:  #656565;
    font-size: 20px;
    text-transform: capitalize; 
    font-weight: 700;
}