.section1 {
    width: 100%;
    height: calc(100vh - 94px);
}

.container__luis {
    width: 100%;
    display: flex;
    flex: 1 1 50%;
    justify-content:  space-between;
    background-color: #e1e1e1;
    padding: 30px 100px 10px 100px;
    padding-right: 50px;
}

.container__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
}

.luis-title {
    font-weight: 700;
    font-size: 90px;
    color: #4d4d4d;
    margin-top: 10px;
}

.luis-text {
    color: #909090;
    font-size: 30px;
    font-weight: 500;
}

.container__title a{
    font-style: 20px;
    text-decoration: none;
    color: #565656;

}

.container__title a:hover{
    color: red;
}

.luis-button {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    max-width: 340px;
    text-align: center;
    margin-top: 20px;
    color:  #4d4d4d;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.luis-button1:hover{
    border: 2px dashed rgb(0, 255, 115);
}

.luis-button2:hover{
    border: 2px dashed rgb(0, 255, 115);
}

.luis-button1 {
    margin-right: 40px;
    border: 1px solid white;
    background-color: white;
    height: 60px;
    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px; 
    font-weight: 700;
    text-transform: uppercase;
}

.luis-button2 {
    display: inline-block;
    border: 3px solid black;
    background-color: black;
    height: 60px;
    width: 147px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #e1e1e1;
    font-weight: 700;
}

.container-img {    /* не могу влиять на размер картинки?!*/
    height: 100%;
    width: 100%;
    
}

.container-img img{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}