.section3 {
    width: 100%;
    background-color: #f6f6f6;
    height: 800px;
}

.container-services {
    display: flex;
    flex-direction: column;
}

.container-services__title {
    text-align: center;
    font-family: "Mukta", sans-serif;
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 700;
    color: #797979;
    padding: 120px 0px 70px 0px;
}

.container-services__title span {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #797979;
    border-top: 3px solid #797979;
}

.container-services__body {
    display: inline-block;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    padding: 0px 180px;
    font-family: "Mukta", sans-serif;
    font-size: 22px;
    font-weight: bold;   /* почему не применяется свойство к шрифту?!*/
    color: #4d4d4d;
}

.container-services__body-123 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-services__body-456 {
    display: flex;
    justify-content: space-between;
    flex: 0 1 33%;
    width: 100%;
    margin-top: 85px;
}

.body-icon1-text,
.body-icon2-text,
.body-icon3-text,
.body-icon4-text,
.body-icon5-text,
.body-icon6-text {
    display: inline-block;
    font-family: "Mukta", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #4d4d4d;
}

.container-services img {
    max-width: 100px;
    max-height: 70px;
}
.container-services__body-icon1 {
}

.body-icon1-icon img {
    padding-left: 20px;
}

.body-icon1-text {

}

.container-services__body-icon2 {
}

.body-icon2-icon img {
    padding-left: 30px;
}

.body-icon2-text {

}


.container-services__body-icon3 {
    padding-right: 20px;
}

.body-icon3-icon img {
    padding-left: 24px;
}

.body-icon3-text {
    padding-right: 10px;

}

.container-services__body-icon4 {
}

.body-icon4-icon img {
    padding:0 0 10px 20px;
}

.body-icon4-text {

}

.container-services__body-icon5 {
    padding-left: 117px;
}

.body-icon5-icon img {
}

.body-icon5-text{

} 


.container-services__body-icon6 {
    padding-left: 103px;
    width: 300px;
}

.body-icon6-icon img {
    margin-left: 70px;
}

.body-icon6-text{

} 


